<%-include('header')-%>
<table>
    <tr>
        <td>Kaşarlı <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">(1)Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Karışık <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">(1)Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Karışık Bazlama <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">(1)Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Kaşarlı Bazlama <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">(1)Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Bazlama Kasap Sucuk</td>
        <td><button class="add-button" data-food-quantity ="1">(1)Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Sucuk Kaşar</td>
        <td><button class="add-button" data-food-quantity ="1">(1)Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    
</table>














<%-include('footer')-%>