<%-include('header')-%>

<table>
    <tr>
        <td>Yarım <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Dürüm <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>ÇİFT Lavaş <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Bazlama <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Pita <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>3/4 Ekmek Arası <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Zurna <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>İskender <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">1 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="2">2 Adet</button></td>
        <td><button class="add-button" data-food-quantity ="3">3 Adet</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price-doner">Fiyatla Ekle</button></td>
    </tr>
</table>

<%-include('footer')-%>