<%-include('header')-%>

<table>
    <tr>
        <td>Yarım <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Izgara Dürüm <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>3/4 Ekmek Arası Izgara <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Izgara <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
</table>
















<%-include('footer')-%>