<%-include('header')-%>

<table>
    <tr>
        <td>Karışık <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>3/4 Ekmek Karışık <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Et Dönerli <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Patso <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Karışık Patso <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Kaşarlı Patso <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Sosisli Patso <%- foodID -%></td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
</table>















<%-include('footer')-%>